# Go
bin/
*.exe
*.out

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Vendor
vendor/


# Blockchain / database runtime data
data/
data/**

# BadgerDB specific
*.vlog
*.mem
LOCK
MANIFEST
KEYREGISTRY
DISCARD

# Go build artifacts
bin/
dist/

# OS / editor
.DS_Store
.idea/
.vscode/
